{%  extends "admin/base.html" %}
{% block title -%}
    个人信息
{%- endblock %}
{% block pagetitle -%}
    {{ self.title() }}
{%- endblock %}
{% block content %}
    {% set info=g.u %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>姓名</td>
                <td>{{ info.username }}</td>
            </tr>
            <tr>
                <td>邮箱</td>
                <td>{{ info.email }}</td>
            </tr>
            <tr>
                <td>角色</td>
                <td>暂未设置</td>
             </tr>
            <tr>
                <td>权限</td>
                <td>暂未设置</td>
             </tr>
             <tr>
                <td>创建时间</td>
                <td>{{ info.create_time }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
