{% from 'common/_macro.html' import static %}
{%  extends "admin/base.html" %}

{% block title -%}
    用户列表
{%- endblock %}
{% block pagetitle -%}
    {{ self.title() }}
{%- endblock %}
{% block js -%}
   <script src="{{ static('admin/js/userlist.js') }}"></script>
{%- endblock %}
{% block content %}
    <table class="table table-bordered">
    <a class="btn btn-primary" style="margin-bottom: 10px" href="{{ url_for('admin.useradd') }}">增加</a>
        <tr>
            <th>id</th>
            <th>邮箱</th>
            <th>姓名</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        {% for v in data %}
            <tr>
            <td>{{ v.id }}</td>
            <td>{{ v.email }}</td>
            <td>{{ v.username }}</td>
            <td>{{ v.create_time }}</td>
            <td>
                <a href="javascript:void(0)" class="del_user" data-id="{{ v.id }}">删除</a>
                &nbsp
                <a href="{{ url_for('admin.useredit',id=v.id) }}">编辑</a>
            </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
